html  
 head
   title ToDo List
   link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css")
   link(rel="stylesheet", type="text/css", href="/css/style.css")
   script(src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js")
   link(href="https://fonts.googleapis.com/icon?family=Material+Icons", rel="stylesheet")
 body
  script 
   include drag-drop.js
  nav 
   div.nav-wrapper
    a.brand-logo.center(href='/') My tasks
    ul.right.hige-on-med-and-down(id="nav-mobile")
     li
      a(href="/api/tasks") All Tasks
     li
      a(href="/api/tasks/add") Add Task
     li 
      a(href="/api/login") Login
     li
      a(href="/api/register") Register
     li 
      a(href="/api/logout") Logout
  .container
   block content
    h3 Trello-like board for task management
    br
    h4 Create an account to start
    br
    div.video-container
     iframe(width="600", height="480", src="https://www.youtube.com/embed/tVooja0Ta5I", frameborder="0", allowfullscreen)

