extends layout.pug
block content
  if error
   h4 #{error}
  h3 Log In
  form.col.s12(action='/api/login', method='POST')
    div.row
     div.input-field.col.s6
      label(for="loginEmail") Email
      input.validate(name="email", type="email", id="loginEmail", aria-describedby="emailHelp")
    div.row
     div.input-field.col.s6        
      label(for="loginPassword") Password
      input.validate(name="password", type='password', id="loginPassword")
    button(type="submit", class="btn waves-effect waves-light") Login
