extends layout.pug
block content 
  if error 
   h4 #{error}
  h3 Create new account
  form.col.s12(action='/api/register', method='POST')
    div.row
     div.input-field.col.s6
      label(for="registerFirstName") First name
      input.validate(name="firstName", type="text", id="registerFirstName")
    div.row
     div.input-field.col.s6
      label(for="registerLastName") Last name
      input.validate(name="lastName", type="text", id="registerLastName")
    div.row
     div.input-field.col.s6
      label(for="registerEmail") Email
      input.validate(name="email", type="email", id="registerEmail", aria-describedby="emailHelp")
    div.row
     div.input-field.col.s6        
      label(for="registerPassword") Password
      input.validate(name="password", type='password', id="registerPassword")
      button(type="submit", class="btn waves-effect waves-light") Register